.stampbg {
    background-image: url("../images/bg.jpg");
    font-family: 'Pamela', Fallback, sans-serif;
}

@font-face {
    font-family: Pamela;
    src: url("../css/Pamela.ttf");
  }

h1 {
    font-size: 12vh;
}

.container {
    align-content: center;
    text-align: center;
    border-top: 7px solid black;
    margin-top: 13vh;
    margin-left: 25vw;
    min-height: 17vh;
    max-width: 45vw;
    border-style: double;
    text-shadow: 1px 2px red;
    color: rgb(54, 141, 134);
    background-color: rgba(22, 3, 3, 0.3);
}

.log {
    margin-bottom: 20px;
    width: 45%;
    font-size: 18px;
}

.myImage {
    border-radius: 50%;
    width: 350px;
    height: 350px;
}

.homeWelcome {
    font-size: 6vh;
}

.stamp-container{
    width: 12vw;
    margin: 5px;
    border: 1px dashed gray;
    display: inline-block;
}